.hide_enter_panel {
    display: none;
}

.item {
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
}

.item-address {
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
}

.item-phone {
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
}

.list {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
}

.container_user {
    display: none;
}

.container_user_open {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-between;
}

.button-saveNewUser {
    width: 70px;
}

.button-edit {
    width: 70px;
    margin-right: 10px;
}

.button-del {
    width: 70px;
}

.button-save {
    width: 100px;
    margin-left: 60px;
}